extends ../layout.jade

block title
  title #{iceblerg.page.title} - Missing Semicolon
block append scripts
  script(src="/out/scripts/manage-social-buttons.js")
block navigation
  +navigation('Blog')
block content
    .row.full
        .medium-11.columns
            ul.breadcrumbs
              li: a(href="#{iceblerg.getOverviewURL()}") Blog
              li: a(href="#{iceblerg.getOverviewURL()}") Posts
              li.current: a(href="#{iceblerg.getPostURL(iceblerg.page)}") #{iceblerg.page.title}
            .card
              h2.header
                a(href="#{iceblerg.getPostURL(iceblerg.page)}")= iceblerg.page.title
                  span.detail &nbsp;- #{iceblerg.formatPostDate(iceblerg.page, "M/D/YY")}
              .post-content.markdown!= iceblerg.contentRenderer(iceblerg.page.body)
              .infobar
                .left
                  each tag in iceblerg.page.tags
                    span.label.secondary.radius: a(href="#{iceblerg.getTagURL(tag)}")= tag
                .right.social Share: 
                    a.fa.fa-twitter.sharebtn(
                      href="http://twitter.com/home?status=Interesting post: --[LOCATION]--"
                      title="Tweet Post"
                    )
                    a.fa.fa-facebook.sharebtn(
                      href="http://www.facebook.com/share.php?u=--[LOCATION]--" 
                      title="Share on Facebook"
                    )
                    a.fa.fa-google-plus.sharebtn(
                      href="https://plusone.google.com/_/+1/confirm?hl=en&url=http%3A%2F%2F%20--[LOCATION]--" 
                      title="Share on Google+"
                    )
                    a.fa.fa-envelope.sharebtn(
                      href="mailto:person@example.com?subject=#{iceblerg.page.title}&body=#{iceblerg.page.title}: --[LOCATION]--</a>"
                      title="Email Post"
                    )
            .card
              // Disqus Comment Embed
              #disqus_thread
              script(type="text/javascript").
                /* * * DISQUS CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'missing-semicolon';
                var disqus_identifier = '#{iceblerg.page.title}';
                var disqus_title = '#{iceblerg.page.title}';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
        .medium-1.columns
          .row
            include ../includes/tags.jade
