extends layout.jade

block navigation
  +navigation('Home')
block jumbotron
  .jumbotron(style="background-image: url(/out/assets/images/ambiance/desk.png)")
    h1 A Blerg of Coding Disasters
    h4.subheader (Not just the disasters)
block content
  .row
    .medium-9.columns
      .row
        h3 Tales From the Blerg
        h6.subheader Read at thine own peril.
        each post in iceblerg.getAllPosts()
          .card
            h4.header
              a(href="./blog/posts/#{post.path}.html")= post.title
                span.detail &nbsp;- #{iceblerg.formatPostDate(post, "M/D/YY")}
            .post-content!= iceblerg.contentRenderer(post.preview)
            .infobar
              a.label.transparent(href="./blog/posts/#{post.path}.html") Read More
              each tag in post.tags
                span.label.secondary.radius: a(href="./blog/tags/#{tag}.html")= tag
      .row
        h3: a(href="about.html") About
        h6.subheader Stuff you probably didn't want to know but makes the page more balanced.
        p.
         Joshua Bemenderfer or (<a href="https://github.com/Tribex">@Tribex</a>)
         is a 17-year-old Christian developer currently residing in 
         Shanghai, China with his family...
         <a href="about.html">More</a>
    .medium-3.columns
      .row
        blockquote
          | I am crucified with Christ: nevertheless I live; yet not I, but Christ liveth in me: and the life which I now live in the flesh I live by the faith of the Son of God, who loved me, and gave himself for me.
          cite Galatians 2:20 (KJV)
      .row
        h5 Tags:
        each tag in iceblerg.getAllTags()
          span.label.secondary.radius: a(href="./blog/tags/#{tag}.html")= tag
          | &nbsp;
